apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: child-app
  namespace: argocd
  labels:
    app.kubernetes.io/instance: parent-app
spec:
  project: default
  source:
    repoURL: file:///tmp/argocd-test/sample-workload
    path: .
    targetRevision: HEAD
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: false
